.main {
    font-family: poppins;
    width: 100%;
    display: block;
    color: white;
    height: 100%;
  }

body {
    background-color: #D15161;
    margin: 0;
    overflow: hidden;
    min-width: 200px;
}

.dalgonaL {
    background-color: #D64D84 ;
}

.taskbar {
    font-family: poppins;
    color: white;
    display: inline-flex;
    width: 100%;
    background: linear-gradient(180deg, rgba(114, 54, 21, 0.61) 0%, rgba(114, 54, 21, 0.00) 100%);
    gap: 150px 0px 0px 0px;
    justify-content: space-around;
    font-size: 20px;
    gap: 15px;
    align-items: center;
    font-weight: 600;  
  }

  .dalgonaL .taskbar {
    background: linear-gradient(180deg, rgba(114, 54, 21, 0.61) 0%, rgba(114, 54, 21, 0.00) 100%);
  }

  .dalgonaL .taskbar .menu, .dalgonaL .taskbar .rewards, .dalgonaL .taskbar .merch, .dalgonaL .taskbar .about, .dalgonaL .taskbar .contact{
    
    background-color: linear-gradient(180deg, rgba(114, 54, 21, 0.61) 0%, rgba(114, 54, 21, 0.00) 100%);
  }


  .taskbar img {
    width: 8%;
    height: 10%;
    margin: 0;
    padding: 0;
  }

  

  .menu:hover, .rewards:hover, .merch:hover, 
  .about:hover, .contact:hover {
    color: black;
    cursor: pointer; 
  }

  .paragraph {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: 1000px;
    font-size: 1.1em;
    
    
  }

  .paragraph h1 {
    position: absolute;
    top: 10%;
    left: 25%;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    max-width: 25%;
    background-color: #D15161;
    z-index: 2;

  }

.paragraph p {
    position: absolute;
    top: 23%;
    left: 25%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    max-width: 25%;
    z-index: 3;
    background-color: #D15161;
}

.landing img {
    width: 30%;
    top: 0%;
    position: absolute;
    
}

.landing {
    position: relative;
    height: 100%;
}
  
.vl img {
    width: 1px;
    height: 410px;
    left: 51%;
    top: 9%;
    
}

.espresso_cup img {
    width: 29%;
    left: 52%;
    top: 7%;
}

.vl2 img {
    width: 1px;
    height: 410px;
    left: 82%;
    top: 9%;
    
}

.ellipse img {
    width: 70px;
    left: 79.78%;
    top: 1.99%;
}

.dalgona_espresso img {
    width: 29%;
    top: 7%;
    left: 87%;
}

.menu_button img {
    width: 8%;
    top: 37%;
    left: 24.85%;
}

.dalgonaL p, .dalgonaL h1 {
  background-color: #D64D84;
}




